#Specific Ignore
Archive/*
kaggle.json
*.log
__pycache__

#General Ignore
*.exe
*.o
*.so
*.7z
*.tar
*.zip
*.mp*

#Demo Documents
!Archive/netflix-shows/2021-04-05/*
#####Source: https://www.kaggle.com/shivamb/netflix-shows
!Archive/goodreadsbooks/2020-08-04/*
####Source: https://www.kaggle.com/jealousleopard/goodreadsbooks
!demo.log
!*.URL